@import url(simplified.css) ;

li.has-unread a{
	font-weight: bold;	
	color:#3C893C;
}

#main-container{

}

#minor-container{
	height:100%;
	float:left;
}

#list-container{
	height:100%;
}

.not-so-full-height{
    height: -webkit-calc(100% - 145px);
    height: -moz-calc(100% - 145px);
    height: calc(100% - 145px);
	overflow:auto;
}

li.folder{
	margin-bottom:-7px;
}

.container-fluid{
	padding-right:2px;
	padding-left: 11px;
}

li.current-feed.has-unread a{
	font-weight: bold;	
	color:red;
}

.current-folder h5 a{
	color:red;
}

.folder  > h5 a{
	text-overflow: ellipsis;
}

li.folder > h5{
	margin-bottom: 0px;
	padding: 0px 4px 0px 0px;
	border: none;
}

li.feed {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 0px 4px 0px 0px;
}

.item-link{
	font-weight:bold;
}

body{
	font-size:12px;
}

.collapse.in {
	margin-bottom: 14px;
}

@media (max-width: 480px) {
	#paging-down{
		display:block;
		visibility:visible;
	}
}

@media (min-width: 481px) {
	#paging-down{
		display:none;
		visibility:hidden;
	}
}
@media (max-width: 979px) and (min-width: 768px){
	.row-fluid [class*="span"]{
		margin-left: 0.762431%;
	}
	.row-fluid .span3 {
		width: 23.928177%;
	}
}

h5 {
	font-size: 13px;
}

.ico {
	position: relative;
	width: 12px;
	height: 12px;
	display: inline-block;
	margin-right: 4px;
	margin-left: 4px;
}

.ico-b-disc {
	background-color: #000;
	border-radius: 8px;
	width: 14px;
	height: 14px;
	position: absolute;
	top: 1px;
	left: 1px;
}
.label, .badge {
	line-height: 9px;
}
