li.has-unread a{
	font-weight: bold;	
	color:#3C893C;
}

#minor-container{
	height:100%;
	float:left;
}

#list-container{
	height:100%;
}

.not-so-full-height{
    height: -webkit-calc(100% - 145px);
    height: -moz-calc(100% - 145px);
    height: calc(100% - 145px);
	overflow:auto;
}

li.folder{
	margin-bottom:-10px;
}

.container-fluid{
	padding-right:2px;
}
